body {
    margin: 0;
    font-family: "Goldman", serif;
    background: #faf8f5;
    color: #333;
}

header {
    background: #7EA798 url('images/pattern.png') repeat;
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #10221C;
}

header h1 {
	text-align: center;
    margin: 0;
    font-size: 2.5em;
	color: #333333;
}

header h2 {
	text-align: center;
    margin: 0;
    font-size: 2.5em;
	color: #343434;
}

header h3 {
	text-align: center;
    margin: 0;
    font-size: 2.5em;
	color: #343434;
}


nav a {
    text-decoration: none;
    color: #333333;
    margin: 0 15px;
    font-weight: bold;
}

main {

    max-width: 900px;
    margin: 30px auto;
    padding: 0 15px;
}

article {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

article img {
    max-width: 100%;
    border-radius: 12px;
    margin: 15px 0;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

footer {
    background: #7EA798 url('images/pattern.png') repeat;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.9em;
	border-top: 2px solid #10221C;
	color: #333333;
	text-decoration: no
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/* Медиазапрос для экранов шириной 600px и меньше (мобильные устройства) */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* Уменьшаем отступы */
  header, footer {
    padding: 10px;
  }

  main {
    padding: 10px;
  }
}

/* Медиазапрос для экранов шириной 900px и меньше (планшеты и маленькие ноутбуки) */
@media (max-width: 900px) {
  h1 {
    font-size: 1.8rem;
  }
}
